:root {
    --color-primary: #D4E2D4;
    --color-shadow-primary: #1f221f;
    --color-secondary: #FFCACC;
    --color-shadow-secondary: #6b4646;
    --color-tertiary-dark: #512D6D;
    --color-tertiary-light: #DBC4F0;
    --color-background: #FAF3F0;
    --color-extra: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Forum", serif;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-tertiary-dark);
    margin: 0;
}

.parent-header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin: 1rem;
    margin-top: 2rem;
    padding-bottom: 1em;
    border-bottom: solid var(--color-tertiary-dark);
}

.logo {
    margin: 0;
    font-family: "Montserrat Alternates", serif;
}

.logo:hover {
    cursor: pointer;
    font-weight: bolder;
}

.left-header {
    margin-left: 1rem;
}

.icon {
    display: none;
}

.links {
    text-align: end;
    display: flex;
    justify-content: space-around;

}

.links a:hover {
    color: var(--color-tertiary-light);
    font-weight: bolder;
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--color-tertiary-dark);
}

.container {
    width: 70%;
    height: 500px;
    background-color: var(--color-primary);
    box-shadow: -0em 4em 3em -3em var(--color-shadow-primary);
    display: flex;
    flex-direction: column;
}

.public {
    background-color: var(--color-secondary);
    box-shadow: -0em 4em 3em -3em var(--color-shadow-secondary);
}
.cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1rem 0;
}

.card {
    background-color: var(--color-tertiary-light);
    border: solid var(--color-tertiary-dark);
    text-align: center;
    /* box-shadow: -0em 1.5em 2em -1em #2b173b;     */
}

h4 {
    margin-bottom: .8em;
}

img {
    filter: grayscale(60%);
    width: 180px;
    height: 180px;
    object-fit: cover;

}

.title {
    margin: 1rem 0 0 0;
    text-align: center;
}

h1 {
    font-family: "Montserrat Alternates", serif;
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    font-weight: 300;
    margin-top: 0;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 2rem 1rem;
    text-align: center;
    gap: 1rem;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(81 45 109/50%) 30%,#0000 0 70%,rgb(81 45 109/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(81 45 109/25%) 30%,#0000 0 70%,rgb(81 45 109/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

button {
    margin-bottom: 1.5rem;
    background-color: var(--color-extra);
    border-radius: 30px;
    padding: .25rem 2rem .8rem 2rem;
    border: none;
    color: var(--color-tertiary-dark);
    transition-duration: 0.4s;
}

button:hover {
    background-color: var(--color-tertiary-dark);
    color: var(--color-extra);
    /* box-shadow: -0em 1.5em 2em -1em #2b173b; */
}

.content {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 5rem 3rem;
    text-align: right;
    justify-content: space-between;
    height: 50%;
}
.item{  
    text-align: right;
    font-size: 1.4rem; 
    display: flex;
    justify-content: end;
}
.item>a{
    text-shadow: 0px 4px 26px #32154a;
    width: max-content;
}
.item>a:hover{
    color: white;
    font-weight: bolder;
    font-style: italic;
}
.two{
    align-self: start;
    text-align: left;
}
.aboutme {
    text-align: justify;
}

h3, h4 {
    font-weight: lighter;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    body {
        /* height: 1000px; */
        width: 100%;
    }

    .container {
        width: 90%;
        height: 94%;
    }

    .body-public {
        height: 100vh;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    .card {
        width: max-content;
        
    }

    .parent-header {
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    .left-header {
        margin: 0;
        padding-left: .4rem;
    }

    .links {
        display: none;
        flex-direction: column;
        position: relative;
        width: 38%;
        top: 1rem;
        right: -14%;
        margin: 1.2rem;
        gap: .4rem;
    }

    .icon {
        display: inherit;
        padding-right: .4rem;
    }

    h2 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .content{
        margin: 2rem 1rem 5rem 1rem;
    }
    .item{
        font-size: 1.2rem;
    }
}