
.titles{
    font-family: "Questrial", serif;
}

body{
    font-family: "PT Serif", serif;
    background-color: #FFEBB7;
    display: flex;
    justify-content: center;
    
}
.home{
    width: 0;
    height: 0;
}
.house-img{
    position: relative;
    left: 1vw;
    top: 2vh;
    z-index: 1;
    width: 3rem;
    height: 3rem;
}
.house-img:hover{
    transform: scale(1.2);
}
.container{   
    width: 900px; 
}
.title-page{
   height: 100vh;
   background-image: url('popcorn_background.jpg')  ;
   background-size: cover;
   background-position: right top;
   box-shadow: 10px 10px 5px lightgrey;
   display: flex ;
   justify-content: center;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: start;
}

.text{
    text-align: end;
    background-color: #20236df0;
    margin-left: -3rem;
    color: white;
    padding: 2rem;
    border-radius: 0 2rem 2rem 0;
    margin-left: .25rem;
    margin-top: 3.5rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr;
    gap: 1.5rem;
    text-align: justify;
    margin-top: 2rem;
}

.card{
    background-color: #B8E2EA;
    min-height: 280px;
    max-height: 400px;
    padding: 2rem;
    color: #20236D;
    /* border: .25rem solid #E67A7A ; */
    border-radius: 2rem;
    
}

.subtitle{
    grid-column: span 3;
    background-color: #E67A7A;
    text-align: center;
    color: white;
    padding-top: 1rem;
}

@media (max-width: 700px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr repeat(3, 3fr) 1fr repeat(3, 3fr);
    }

    .card{
        grid-column: span 3;  
    }

    body{
        font-size: 1.2rem;
    }
    .title-page{
        background-size: contain;
        background-position: right center;
        background-attachment: fixed;
    }
    .house-img{
        left: 6vw;
        top: 6vh;
    }
}
